@media only screen and (max-width: 1368px) and (orientation: landscape) {
    header .column-left a {
        font-size: 2.5em;
    }

    nav .ancor {
        font-size: 1.5em;
    }

    header .column-right {
        flex: 2;
    }

    nav .column-right {
        gap: 2em;
    }

    nav .social-icon {
        width: 1.3em;
        height: 1.3em;
        line-height: 1.3em;
        font-size: 1.8em;
    }

    #portfolio-highlight {
        padding: 3em 0;
        gap: 2em;
    }

    #portfolio-highlight .project {
        height: calc(100% / 3 - 1.4em);
        width: 35%;
    }

    #portfolio-highlight #third-project-highlight {
        border-radius: 100% 0 0 100%;
    }

    #portfolio-highlight #fifth-project-highlight {
        flex-grow: 1;
        border-radius: 10em;
    }

    #portfolio-highlight #seventh-project-highlight {
        aspect-ratio: 2 / 1;
        flex-grow: 1;
        border-radius: 0 2em 2em 0;
        width: auto;
    }

    #portfolio-highlight #eighth-project-highlight {
        aspect-ratio: 2 / 1;
        flex-grow: 1;
        width: auto;
    }

    #aboutme .column-right {
        flex: 1.5;
    }

    #contactme input,
    #contactme textarea {
        font-size: 1.5em;
    }

    footer h3 {
        font-size: 2em;
    }

    footer p {
        font-size: 1.3em;
    }

    footer a {
        width: 1.3em;
        height: 1.3em;
        line-height: 1.3em;
        font-size: 1.8em;
    }

    .button {
        font-size: 1.5em;
    }
}