---
import '../styles/reset.css'
import '../styles/style.css'
import '../styles/commons.css'
import '../styles/common-components.css'
import '../styles/style_ipadpro_portrait.css'
import '../styles/style_ipadpro_landscape.css'
import '../styles/style_ipadpro.css'
import '../styles/style_iphonepro_portrait.css'
import '../styles/everton_signature.css'
---
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Renata Cotis' Portfolio. I'm Freelance Illustrator focused in Publishing and Children's Educational Books, always ready to explore other areas.">
    <meta name="theme-color" content="#ff9abd" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#ff9abd" media="(prefers-color-scheme: dark)">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="canonical" href="https://recotis.com">

    <link rel="icon" href="https://www.recotis.com/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="https://www.recotis.com/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="256x256" href="https://www.recotis.com/images/apple-touch-icon.png">

    <title>Renata Cotis - Illustrator</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chewy&family=Cutive&display=swap">

    <!-- Scripts JS -->
    <script is:inline src="/scripts/environment_variables.js" defer></script>
    <script is:inline src="/scripts/utilities.js" defer></script>
    <script is:inline src="/scripts/security.js" defer></script>
    <script is:inline src="/scripts/configurations.js" defer></script>
    <script is:inline src="/scripts/back_top_listener.js" defer></script>
    <script is:inline src="/scripts/bff_resource.js" defer></script>
    <script is:inline src="/scripts/form_validation.js" defer></script>
    <script is:inline src="/scripts/images_getter.js" defer></script>
    <script is:inline src="/scripts/startup.js" defer></script>

    <!-- Meta data -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "name": "Renata Cotis",
            "url": "https://recotis.com",
            "image": [
                "https://recotis.com/images/logo-1200x1200.jpg",
                "https://recotis.com/images/logo-1200x628.jpg"
            ],
            "logo": "https://recotis.com/images/logo-1200x1200.jpg",
            "jobTitle": "Illustrator",
            "hasOccupation": {
                "@type": "Occupation",
                "name": "Freelance Illustrator",
                "skills": "Picture Book, Early Readers, Book Cover, Character Design, Hand Lettering"
            },
            "sameAs": [
                "https://www.behance.net/recotis",
                "https://www.linkedin.com/in/recotis",
                "https://www.instagram.com/recotis",
                "https://x.com/recotis_"
            ],
            "description": "Renata Cotis' Portfolio. I'm Freelance Illustrator focused in Publishing and Children's Educational Books, always ready to explore other areas.",
            "contactPoint": {
                "@type": "ContactPoint",
                "email": "mailto:contact@recotis.com",
                "contactType": "Personal Contact"
            },
            "knowsAbout": [
                "Freelance Illustrator",
                "Children's Book",
                "Children's Book Illustration",
                "Digital Lettering",
                "Hand Lettering",
                "Character Design",
                "Book Cover",
                "Digital Illustration",
                "Kidlit Art",
                "Kidlit Artist"
            ]
        }
    </script>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Renata Cotis - Illustrator">
    <meta property="og:description"
          content="Renata Cotis' Portfolio. I'm Freelance Illustrator focused in Publishing and Children's Educational Books, always ready to explore other areas.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://recotis.com">
    <meta property="og:image" content="https://www.recotis.com/images/og-image.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:image:alt"
          content="A young woman smiles while looking toward the Cliffs of Moher. White flowers float in the wind, and a tall rock rises from the sea, creating a soft and magical scene.">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Renata Cotis - Illustrator">
    <meta name="twitter:description"
          content="Renata Cotis' Portfolio. I'm Freelance Illustrator focused in Publishing and Children's Educational Books, always ready to explore other areas.">
    <meta name="twitter:image" content="https://www.recotis.com/images/og-image.png">
    <meta name="twitter:image:alt"
          content="A young woman smiles while looking toward the Cliffs of Moher. White flowers float in the wind, and a tall rock rises from the sea, creating a soft and magical scene.">
</head>

<body class="border-box">
<div class="h-100vh w-100vw flex fd-column">
    <header id="header" class="" tabindex="0">
        <nav class="flex ai-center" aria-label="Main navigation">
            <div id="mobile-pfp-container" class="none flex fd-row">
                <img id="mobile-pfp" src="https://recotis.com/images/pfp-500x500.webp"
                     alt="A young woman smiles while looking toward the Cliffs of Moher. White flowers float in the wind, and a tall rock rises from the sea, creating a soft and magical scene."
                     tabindex="0"/>
                <h1 class="flex fd-column" tabindex="0"><span>Renata</span><span>Cotis</span><span>Illustrator</span>
                </h1>
            </div>

            <a href="#menu" class="none ancor" aria-label="Open side menu" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/>
                </svg>
            </a>

            <div id="menu" class="flex zi-9">
                <a href="#header" class="ancor-back none" aria-label="Close side menu" tabindex="0">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                    </svg>
                </a>

                <div class="column-left flex-1-fixed flex ai-center ai-center jc-sb">
                    <a class="ancor" href="#portfolio-hiperlink"
                       aria-label="View my illustration portfolio"
                       tabindex="0">
                        My work
                    </a>

                    <a class="ancor" href="#aboutme" aria-label="View details about me" tabindex="0">About me</a>

                    <a class="ancor" href="#contactme" aria-label="View and fill data to send me" tabindex="0">Contact
                        me</a>
                </div>

                <div id="desktop-pfp-container" class="flex-1-fixed flex jc-center">
                    <img id="desktop-pfp" src="https://recotis.com/images/pfp-500x500.webp"
                         alt="A young woman smiles while looking toward the Cliffs of Moher. White flowers float in the wind, and a tall rock rises from the sea, creating a soft and magical scene."/>
                    <h1 class="flex fd-column"><span>Renata</span><span>Cotis</span><span>Illustrator</span></h1>
                </div>

                <div class="column-right flex-1-fixed flex ai-center jc-end">
                    <a class="social-icon"
                       href="https://www.behance.net/recotis"
                       aria-label="Visit my Behance profile"
                       target="_blank"
                       tabindex="0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path d="M232 237.2c31.8-15.2 48.4-38.2 48.4-74 0-70.6-52.6-87.8-113.3-87.8H0v354.4h171.8c64.4 0 124.9-30.9 124.9-102.9 0-44.5-21.1-77.4-64.7-89.7zM77.9 135.9H151c28.1 0 53.4 7.9 53.4 40.5 0 30.1-19.7 42.2-47.5 42.2h-79v-82.7zm83.3 233.7H77.9V272h84.9c34.3 0 56 14.3 56 50.6 0 35.8-25.9 47-57.6 47zm358.5-240.7H376V94h143.7v34.9zM576 305.2c0-75.9-44.4-139.2-124.9-139.2-78.2 0-131.3 58.8-131.3 135.8 0 79.9 50.3 134.7 131.3 134.7 61.3 0 101-27.6 120.1-86.3H509c-6.7 21.9-34.3 33.5-55.7 33.5-41.3 0-63-24.2-63-65.3h185.1c.3-4.2 .6-8.7 .6-13.2zM390.4 274c2.3-33.7 24.7-54.8 58.5-54.8 35.4 0 53.2 20.8 56.2 54.8H390.4z"/>
                        </svg>
                    </a>

                    <a class="social-icon"
                       href="https://www.linkedin.com/in/recotis"
                       aria-label="Visit my LinkedIn profile"
                       target="_blank"
                       tabindex="0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"/>
                        </svg>
                    </a>

                    <a class="social-icon"
                       href="https://www.instagram.com/recotis"
                       aria-label="Visit my Instagram profile"
                       target="_blank"
                       tabindex="0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
                        </svg>
                    </a>

                    <a class="social-icon"
                       href="https://x.com/recotis_"
                       aria-label="Visit my Twitter | X profile"
                       target="_blank"
                       tabindex="0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <section id="home" class="flex-1 flex jc-center" tabindex="0">
        <div class="content-container flex-1 flex fd-column jc-center ai-center">
            <h1 class="zi-1 color-dark-green" tabindex="0">
                creating<br/>something<br/>bold
            </h1>
            <p><span class="color-light-blue">color</span> <span class="color-orange-yellow">by</span> <span
                    class="color-dark-pink">color</span></p>
        </div>
        <div class="video-container flex-1 flex fd-column jc-center ai-center">
            <video id="home-video"
                   class="zi-0"
                   poster="https://www.recotis.com/images/drawing_thumbnail.webp"
                   preload="metadata"
                   loading="lazy"
                   playsinline
                   muted
                   autoplay
                   loop
                   aria-label="The video shows a magical transition of two different pallets from the illustration Exploring the Cliffs."
                   tabindex="0"
            >
                <source src="https://recotis.com/videos/drawing2160p60.mp4" type="video/mp4">
            </video>
            <script>
              const video = document.getElementById('home-video');
              video.addEventListener('canplay', () => {
                document.body.addEventListener('click', () => {
                  video.play().catch(e => console.log(e));
                }, {once: true});
              }, {once: true});
            </script>
        </div>
    </section>
</div>

<section id="portfolio-hiperlink" class="border-box grid columns-3 ji-center ai-center" tabindex="0">
    <h1 class="none">Portfolio</h1>
    <a class="project grid-2-columns"
       href="https://www.behance.net/gallery/227880727/The-Park-After-Dark-Childrens-Book"
       aria-label="Visit 'The Park After Dark' on Behance"
       target="_blank"
       tabindex="0">
        <img src="https://www.recotis.com/images/the-park-after-park-1000x593.webp"
             alt="At night in a spooky amusement park, four children run between two dark buildings. A lamp on the left lights a curious blue-eyed girl with vitiligo and a terrified white boy. A laughing Asian girl and a scared Black boy with a flashlight follow closely. Behind them, a pumpkin-headed figure looks frustrated. In the distance, a leafless tree and a Ferris wheel."
             tabindex="0"/>
        <div class="details">
            <h3 tabindex="0">The Park After Dark</h3>
        </div>
    </a>
    <a class="project"
       href="https://www.behance.net/gallery/227880727/The-Park-After-Dark-Childrens-Book"
       aria-label="Visit 'Not-so-scary Pumpkin' on Behance"
       target="_blank"
       tabindex="0">
        <img src="https://www.recotis.com/images/not-so-scary-pumpkin-850x1000.webp"
             alt="A person in a pumpkin costume holds the mask in one hand, making a confused “huh?” face. They had just tried to calm the children by explaining it was all just a costume, but the kids have already run off in fear."
             tabindex="0"/>
        <div class="details">
            <h3 tabindex="0">Not-so-scary Pumpkin</h3>
        </div>
    </a>

    <a class="project"
       href="https://www.behance.net/gallery/220750093/Exploring-the-Cliffs-Character-Design"
       aria-label="Visit 'Exploring the Cliffs' on Behance"
       target="_blank"
       tabindex="0">
        <img src="https://www.recotis.com/images/mini-me-1000x1000.webp"
             alt="A young woman smiles while looking toward the Cliffs of Moher. White flowers float in the wind, and a tall rock rises from the sea, creating a soft and magical scene."
             tabindex="0"/>
        <div class="details">
            <h3 tabindex="0">Exploring the Cliffs</h3>
        </div>
    </a>
    <a class="project grid-2-columns"
       href="https://www.behance.net/gallery/225169533/A-90s-Earth-Witchs-Bedroom-Background"
       aria-label="Visit 'A 90s Earth Witch’s Bedroom' on Behance"
       target="_blank"
       tabindex="0">
        <img src="https://www.recotis.com/images/room-1778x1000.webp"
             alt="A two-level bedroom with a bed on a mezzanine, surrounded by books and plants. Below, a desk holds potions, a camera, and candles. Personal items and cozy details fill the magical space."
             tabindex="0"/>
        <div class="details">
            <h3 tabindex="0">A 90s Earth Witch’s Bedroom</h3>
        </div>
    </a>

    <a class="project grid-2-columns"
       href="https://www.behance.net/gallery/218503643/Luna-Character-Design"
       aria-label="Visit 'Luna’s Facial Expressions' on Behance"
       target="_blank"
       tabindex="0">
        <img src="https://www.recotis.com/images/dancer-witch-faces-1853x1000.webp"
             alt="Three expressions of Luna: smiling shyly with raised shoulders, looking doubtful with one eyebrow arched, and angry with an open mouth and furrowed brows."
             tabindex="0"/>
        <div class="details">
            <h3 tabindex="0">Luna’s Facial Expressions</h3>
        </div>
    </a>
    <a class="project"
       href="https://www.behance.net/gallery/218503643/Luna-Character-Design"
       aria-label="Luna, the Dancing Witch"
       target="_blank"
       tabindex="0">
        <img src="https://www.recotis.com/images/dancer-witch-1000x1000.webp" loading="lazy"
             alt="Luna, a young witch, dances with a bright green light shining from her right hand. She wears a pink skirt, a purple shirt with a cat on a crescent moon, and has pink hair with orange streaks."
             tabindex="0"/>
        <div class="details">
            <h3 tabindex="0">Luna, the Dancing Witch</h3>
        </div>
    </a>

    <a class="project"
       href="https://www.behance.net/gallery/211332443/Mystery-at-Whimsy-Manor"
       aria-label="Visit 'Magical Pumpkin' on Behance"
       target="_blank"
       tabindex="0">
        <img src="https://www.recotis.com/images/pumpkin-1000x1000.webp" loading="lazy"
             alt="A magical pumpkin is smiling, wearing a tall, curved hat. Two round lollipops are attached to the hat with a ribbon."
             tabindex="0"/>
        <div class="details">
            <h3 tabindex="0">Magical Pumpkin</h3>
        </div>
    </a>
    <a class="project grid-2-columns"
       href="https://www.behance.net/gallery/211332443/Mystery-at-Whimsy-Manor"
       aria-label="Visit 'Mystery at Whimsy Manor' on Behance"
       target="_blank"
       tabindex="0">
        <img src="https://www.recotis.com/images/mystery-whimsy-manor-1000x667.webp" loading="lazy"
             alt="A mysterious manor under the moonlight surrounded by two trees and mountains behind."
             tabindex="0"/>
        <div class="details">
            <h3 tabindex="0">Mystery at Whimsy Manor</h3>
        </div>
    </a>
</section>

<section id="aboutme" class="border-box h-100vh flex" tabindex="0">
    <div class="flex-1 flex fd-column jc-center">
        <h1 tabindex="0">Hi,<br>Renata Cotis<br>here!</h1>
        <p tabindex="0">I'm a <span class="bolder">Digital Illustrator</span>, although it took me a while to
            recognize myself as an artist. After two career
            changes, I realized that this profession and what it brings with it are what I value the most. It offers
            what I consider to be important aspects of life: geographic freedom, time liberty and the possibility to
            make a positive impact on people's lives. So, it would be a total pleasure <span class="bolder">to help
                    you tell a story</span>
            through
            <span class="bolder">illustrations</span>.
        </p>
    </div>
    <div class="column-right flex jc-end">
        <div class="img-container pos-relative">
            <img class="profile-photo" src="https://www.recotis.com/images/profile-photo-1000x750.webp"
                 alt="Renata smiles and sits on the grass at the Cliffs of Moher - Ireland." tabindex="0">
        </div>
    </div>
</section>

<section id="contactme" class="border-box h-100vh flex" tabindex="0">
    <h1 class="as-center" tabindex="0">Let's draw <br>a story<br>together?</h1>
    <form id="contact-me-form" class="as-center flex-1 flex fd-column" action="" method="post" autocomplete="off"
          onsubmit="formSubmit(event)" tabindex="0">
        <h2 class="uppercase bolder" tabindex="0"><span class="bolder">Send me</span> a message<br/>to start <span
                class="bolder">our journey</span></h2>
        <label for="contact-name">
            <input type="text" name="contact-name" id="contact-name" placeholder="How can I call you?" required
                   tabindex="0"/>
            <div class="error-message" tabindex="0">Please, tell me your <span class="bolder">name</span></div>
        </label>
        <label for="contact-subject">
            <input type="text" name="contact-subject" id="contact-subject" placeholder="What's on your mind?"
                   required tabindex="0"/>
            <div class="error-message" tabindex="0">Please, tell me what you are <span
                    class="bolder">planning</span></div>
        </label>
        <label for="contact-message">
                <textarea name="contact-message" id="contact-message" rows="5" placeholder="Please, tell me more..."
                          required tabindex="0"></textarea>
            <div class="error-message" tabindex="0">Please, give me <span class="bolder">details</span> about it
            </div>
        </label>
        <label for="contact-email">
            <input type="email" name="contact-email" id="contact-email"
                   placeholder="What's your e-mail for follow up?" required tabindex="0"/>
            <div class="error-message" tabindex="0">Please, tell me your <span class="bolder">best e-mail</span> to
                contact you back
            </div>
        </label>
        <button id="send" class="flex jc-center button uppercase as-end" type="button" onclick="validateForm()"
                tabindex="0">
            Send
            <svg class="spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z"/>
            </svg>
        </button>
    </form>
    <div id="popup-container-message-sent"
         class="popup-container pos-fixed h-100vh w-100vw flex ai-center jc-center zi-9">
        <div class="popup flex fd-column jc-sb" onkeydown="keepPopupMessageSentFocused(event)" tabindex="0">
            <p class="order-2 text-center" tabindex="0">Thank you<span id="popup-contact-name"></span>,<br><br>I
                received your message.<br>Just to let you know, <span class="bolder">I usually take 1 day to
                        answer</span>.<br><br>See you soon!</p>
            <p class="none order-2 text-center" tabindex="0">Ooh sorry!<br><br>It happened some problem to send your
                message but don't worry.<br>You can contact me directly at <a class="bolder"
                                                                              href="mailto:contact@recotis.com"
                                                                              tabindex="0">contact@recotis.com</a><br><br>See
                you soon!</p>
            <button class="button confirm uppercase as-center order-3" type="button"
                    onclick="closePopupMessageSent()" tabindex="0">
                <span>thanks!</span>
                <span class="none">ok!</span>
            </button>
            <button class="button close order-1 flex jc-center ai-center as-end" type="button"
                    onclick="closePopupMessageSent()" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                </svg>
            </button>
        </div>
    </div>
</section>

<footer class="border-box flex jc-sb" tabindex="0">
    <h3 tabindex="0" class="flex fd-column"><span>Renata</span><span>Cotis</span><span>Illustrator</span></h3>
    <div class="flex fd-column jc-sa gap-2 color-green-grape">
        <div class="flex-1 right-column flex ai-center jc-end">
            <a class="social-icon"
               href="https://www.behance.net/recotis"
               aria-label="Visit my Behance profile"
               target="_blank"
               tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path d="M232 237.2c31.8-15.2 48.4-38.2 48.4-74 0-70.6-52.6-87.8-113.3-87.8H0v354.4h171.8c64.4 0 124.9-30.9 124.9-102.9 0-44.5-21.1-77.4-64.7-89.7zM77.9 135.9H151c28.1 0 53.4 7.9 53.4 40.5 0 30.1-19.7 42.2-47.5 42.2h-79v-82.7zm83.3 233.7H77.9V272h84.9c34.3 0 56 14.3 56 50.6 0 35.8-25.9 47-57.6 47zm358.5-240.7H376V94h143.7v34.9zM576 305.2c0-75.9-44.4-139.2-124.9-139.2-78.2 0-131.3 58.8-131.3 135.8 0 79.9 50.3 134.7 131.3 134.7 61.3 0 101-27.6 120.1-86.3H509c-6.7 21.9-34.3 33.5-55.7 33.5-41.3 0-63-24.2-63-65.3h185.1c.3-4.2 .6-8.7 .6-13.2zM390.4 274c2.3-33.7 24.7-54.8 58.5-54.8 35.4 0 53.2 20.8 56.2 54.8H390.4z"/>
                </svg>
            </a>
            <a class="social-icon"
               href="https://www.linkedin.com/in/recotis"
               aria-label="Visit my LinkedIn profile"
               target="_blank"
               tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"/>
                </svg>
            </a>
            <a class="social-icon"
               href="https://www.instagram.com/recotis"
               aria-label="Visit my Instagram profile"
               target="_blank"
               tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
                </svg>
            </a>
            <a class="social-icon"
               href="https://x.com/recotis_"
               aria-label="Visit my Twitter | X profile"
               target="_blank"
               tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
                </svg>
            </a>
        </div>
        <p tabindex="0">Renata Cotis 2024. All rights reserved.</p>
    </div>
</footer>

<section id="everton-signature" tabindex="0">
    <h1 tabindex="0">Developed by <a href="https://linkedin.com/in/tondeverton"
                                     aria-label="Visit developer's LinkedIn profile"
                                     target="_blank"
                                     tabindex="0">Everton Pereira</a></h1>
</section>

<a id="back-top"
   class="hidden pos-fixed border-circle flex jc-center ai-center zi-7"
   href="#header"
   aria-label="Back to the top of the page"
   tabindex="0">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2 160 448c0 17.7 14.3 32 32 32s32-14.3 32-32l0-306.7L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/>
    </svg>
</a>
</body>

</html>

<style>
  
</style>
