# This file is licensed under the Creative Commons Attribution-NonCommercial 4.0 International License.
# You may obtain a copy of the license at https://creativecommons.org/licenses/by-nc/4.0/legalcode.txt

name: Deploy to Google Cloud Storage

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    container: node:20

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Auth Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.CREDENTIALS_JSON }}
      
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Install dependencies
        run: npm i

      - name: Inject environment variables
        run: |
          echo "window.__env = {" >> ./public/scripts/environment_variables.js
          echo "  bffHost: '${{ secrets.SIGNED_URLS_PROVIDER_HOST }}'," >> ./public/scripts/environment_variables.js
          echo "}" >> ./public/scripts/environment_variables.js

      - name: Inject security js
        run: echo '${{ secrets.SECURITY_JS }}' > ./public/scripts/security.js

      - name: Build
        run: npm run build

      - name: Test
        run: npm run unit:test

      - name: Deploy to Google Cloud Storage
        run: gsutil -m rsync -r dist gs://www.recotis.com
